In [1]:
import pandas as pd

In [4]:
file_join = 'ch_noun_sentences_by_listingid_CJ_2.csv'
noun_sentence_df_T_ri_filtered_thu_list_base_2 = pd.read_csv(file_join)

In [3]:
noun_sentence_df_T_ri_filtered_thu_list_base

         Unnamed: 0         noun_sentence  listingid state
0                 0  new hot water heater    2257521    TN
1                 1           car carport    2257521    TN
2                 2             nice home    2257521    TN
3                 3        great location    8663618    TN
4                 4        room fireplace  141342205    TN
...             ...                   ...        ...   ...
7514668        6144         natural light  267731443    SC
7514669        6145            great room  267800035    SC
7514670        6146        great location  267800035    SC
7514671        6147            main level  267800035    SC
7514672        6148            new carpet  267800035    SC

[7514673 rows x 4 columns]

In [5]:
file_join = 'ch_noun_sentences_by_listingid_CJ.csv'
noun_sentence_df_T_ri_filtered_thu_list_base_1 = pd.read_csv(file_join)

In [6]:
noun_sentence_df_T_ri_filtered_thu_list_base_1

          Unnamed: 0  noun_sentence  listingid state
0                  0  basement area        776    AL
1                  1    upper level        776    AL
2                  2      full bath        776    AL
3                  3    upper level        778    AL
4                  4   private bath        778    AL
...              ...            ...        ...   ...
99324768       25975     main level  249634925    WV
99324769       25976      full bath  249634925    WV
99324770       25977   bedroom home  249634925    WV
99324771       25978   bedroom home  249827112    WV
99324772       25979    front porch  249950984    WV

[99324773 rows x 4 columns]

In [19]:
noun_sentence_df_T_ri_filtered_thu_list_base_1.iloc[2717810:2717814,:].values

array([[44168, 'bedrooms,2 baths', 1660331, 'CA'],
       [44169, 'great opportunity', 1660359, 'CA'],
       [44170, 'rental property', 1660359, 'CA'],
       [44171, 'private setting', 1660359, 'CA']], dtype=object)

In [18]:
len('granite countertops stainless steel appliances')

46