In [1]:
import numpy as np
import pandas as pd

import time

import matplotlib.pyplot as plt
import os
import re
import seaborn as sns

In [2]:
from scipy.stats import moment
from scipy.stats import describe

In [3]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /home/cdsw/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [4]:
from textblob import TextBlob

In [5]:
from scipy.stats import moment
from scipy.stats import describe

In [6]:
def basic_stats_error(datalist):
    
    if len(datalist)>1:
        result_describe = list(describe(datalist)[2:])
        result_percentile = result_describe + list(np.percentile(datalist,[10,25,50,75,90]))
        array = np.array(datalist)
        result_percentile = result_percentile+[len(array),len(array[np.where(array>0)[0]])/len(array)*100,
                                               len(array[np.where(array<0)[0]])/len(array)*100]
    else:
        result_percentile = []

    return result_percentile

In [7]:
def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

In [8]:
import seaborn as sns

In [9]:
sns.set(style="whitegrid")

In [10]:
from importlib import reload

from nlp_pandas_functions import ngram_analysis
from nlp_pandas_functions import noun_sentences

reload(ngram_analysis)
reload(noun_sentences)
dir(ngram_analysis)

2022-05-16 19:23:04,173 loading file /home/cdsw/.flair/models/sentiment-en-mix-distillbert_4.pt

INFO:absl:Using /tmp/tfhub_modules to cache modules.

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded
module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bigrams_join',
 'count_n_grams',
 'defaultdict',
 'df_get_n_grams_count',
 'df_lambda_ngram',
 'generate_n_grams',
 'get_imp',
 'get_n_grams_count',
 'get_n_grams_probability',
 'kg',
 'ngrams',
 'np',
 'pd',
 'text']

In [11]:
column = 'clean_publicremarks'

In [12]:
#from nlp_pandas_functions import ngram_analysis
from nlp_pandas_functions import noun_sentences

#reload(ngram_analysis)
reload(noun_sentences)
#dir(ngram_analysis)

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

In [19]:
import glob
filtered_files = glob.glob("../comments/raw_comments/*_noun_sentences_by_listingid_CJ.fea")

In [20]:
filtered_files

['../comments/raw_comments/agent_comments_AL_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_AR_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_AZ_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_CA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_CO_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_CT_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_DC_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_DE_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_FL_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_GA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_HI_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_IA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_ID_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_IL_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_IN_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_KS_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_KY_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_LA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MD_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_ME_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MI_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MN_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MO_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MS_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_MT_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NC_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NH_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NJ_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NM_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NV_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_NY_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_OH_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_OK_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_OR_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_PA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_RI_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_SC_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_SD_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_TN_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_TX_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_UT_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_VA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_VT_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_WA_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_WI_filtered_noun_sentences_by_listingid_CJ.fea',
 '../comments/raw_comments/agent_comments_WV_filtered_noun_sentences_by_listingid_CJ.fea']

In [29]:
noun_sentence_df_T_ri_filtered_thu_list_base= pd.read_csv(filtered_files[0])

In [30]:
filtered_files[0].split('_')[3]

'AL'

In [31]:
noun_sentence_df_T_ri_filtered_thu_list_base['state'] = filtered_files[0].split('_')[3]

In [32]:
for file in filtered_files[1:]:
    
    print(file)    
    noun_sentence_df_T_ri_filtered_thu_list= pd.read_csv(file)
    print(len(noun_sentence_df_T_ri_filtered_thu_list))
    noun_sentence_df_T_ri_filtered_thu_list['state'] = file.split('_')[3]
    noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.append(noun_sentence_df_T_ri_filtered_thu_list)

../comments/raw_comments/agent_comments_AR_filtered_noun_sentences_by_listingid_CJ.fea
248606
../comments/raw_comments/agent_comments_AZ_filtered_noun_sentences_by_listingid_CJ.fea
1296405
../comments/raw_comments/agent_comments_CA_filtered_noun_sentences_by_listingid_CJ.fea
12433494
../comments/raw_comments/agent_comments_CO_filtered_noun_sentences_by_listingid_CJ.fea
3497396
../comments/raw_comments/agent_comments_CT_filtered_noun_sentences_by_listingid_CJ.fea
1374556
../comments/raw_comments/agent_comments_DC_filtered_noun_sentences_by_listingid_CJ.fea
1870
../comments/raw_comments/agent_comments_DE_filtered_noun_sentences_by_listingid_CJ.fea
80857
../comments/raw_comments/agent_comments_FL_filtered_noun_sentences_by_listingid_CJ.fea
13444305
../comments/raw_comments/agent_comments_GA_filtered_noun_sentences_by_listingid_CJ.fea
3857221
../comments/raw_comments/agent_comments_HI_filtered_noun_sentences_by_listingid_CJ.fea
35844
../comments/raw_comments/agent_comments_IA_filtered_noun_sentences_by_listingid_CJ.fea
10586
../comments/raw_comments/agent_comments_ID_filtered_noun_sentences_by_listingid_CJ.fea
585488
../comments/raw_comments/agent_comments_IL_filtered_noun_sentences_by_listingid_CJ.fea
4752833
../comments/raw_comments/agent_comments_IN_filtered_noun_sentences_by_listingid_CJ.fea
649327
../comments/raw_comments/agent_comments_KS_filtered_noun_sentences_by_listingid_CJ.fea
564806
../comments/raw_comments/agent_comments_KY_filtered_noun_sentences_by_listingid_CJ.fea
1189700
../comments/raw_comments/agent_comments_LA_filtered_noun_sentences_by_listingid_CJ.fea
1021410
../comments/raw_comments/agent_comments_MA_filtered_noun_sentences_by_listingid_CJ.fea
3201127
../comments/raw_comments/agent_comments_MD_filtered_noun_sentences_by_listingid_CJ.fea
536235
../comments/raw_comments/agent_comments_ME_filtered_noun_sentences_by_listingid_CJ.fea
69301
../comments/raw_comments/agent_comments_MI_filtered_noun_sentences_by_listingid_CJ.fea
3204398
../comments/raw_comments/agent_comments_MN_filtered_noun_sentences_by_listingid_CJ.fea
1898208
../comments/raw_comments/agent_comments_MO_filtered_noun_sentences_by_listingid_CJ.fea
3043769
../comments/raw_comments/agent_comments_MS_filtered_noun_sentences_by_listingid_CJ.fea
135467
../comments/raw_comments/agent_comments_MT_filtered_noun_sentences_by_listingid_CJ.fea
58343
../comments/raw_comments/agent_comments_NC_filtered_noun_sentences_by_listingid_CJ.fea
4348381
../comments/raw_comments/agent_comments_NH_filtered_noun_sentences_by_listingid_CJ.fea
488862
../comments/raw_comments/agent_comments_NJ_filtered_noun_sentences_by_listingid_CJ.fea
1645239
../comments/raw_comments/agent_comments_NM_filtered_noun_sentences_by_listingid_CJ.fea
253597
../comments/raw_comments/agent_comments_NV_filtered_noun_sentences_by_listingid_CJ.fea
344403
../comments/raw_comments/agent_comments_NY_filtered_noun_sentences_by_listingid_CJ.fea
1170199
../comments/raw_comments/agent_comments_OH_filtered_noun_sentences_by_listingid_CJ.fea
5558652
../comments/raw_comments/agent_comments_OK_filtered_noun_sentences_by_listingid_CJ.fea
1310119
../comments/raw_comments/agent_comments_OR_filtered_noun_sentences_by_listingid_CJ.fea
1339089
../comments/raw_comments/agent_comments_PA_filtered_noun_sentences_by_listingid_CJ.fea
1688283
../comments/raw_comments/agent_comments_RI_filtered_noun_sentences_by_listingid_CJ.fea
229986
../comments/raw_comments/agent_comments_SC_filtered_noun_sentences_by_listingid_CJ.fea
348706
../comments/raw_comments/agent_comments_SD_filtered_noun_sentences_by_listingid_CJ.fea
434
../comments/raw_comments/agent_comments_TN_filtered_noun_sentences_by_listingid_CJ.fea
797603
../comments/raw_comments/agent_comments_TX_filtered_noun_sentences_by_listingid_CJ.fea
12808068
../comments/raw_comments/agent_comments_UT_filtered_noun_sentences_by_listingid_CJ.fea
1257827
../comments/raw_comments/agent_comments_VA_filtered_noun_sentences_by_listingid_CJ.fea
1353583
../comments/raw_comments/agent_comments_VT_filtered_noun_sentences_by_listingid_CJ.fea
80088
../comments/raw_comments/agent_comments_WA_filtered_noun_sentences_by_listingid_CJ.fea
4472124
../comments/raw_comments/agent_comments_WI_filtered_noun_sentences_by_listingid_CJ.fea
1483367
../comments/raw_comments/agent_comments_WV_filtered_noun_sentences_by_listingid_CJ.fea
25980

In [37]:
noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.drop(columns=['Unnamed: 0'])

In [38]:
file_join = 'ch_noun_sentences_by_listingid_CJ.csv'
noun_sentence_df_T_ri_filtered_thu_list_base.to_csv(file_join)

In [46]:
noun_sentence_df_T_ri_filtered_thu = noun_sentence_df_T_ri_filtered.loc[:,['noun_sentence','Listingid_List']]

In [47]:
noun_sentence_df_T_ri_filtered_thu

,noun_sentence,Listingid_List
162046,new bathrooms,"[226771172, 226894344, 226798752, 226705586, 2..."
191942,measurements approximate,"[226789511, 226972662, 227216981, 227220287, 2..."
204925,top bottom,"[226874336, 227335468, 227067931, 227204798, 2..."
207082,quartz countertops,"[227126688, 227163953, 227060322, 227137424, 2..."
225617,new cabinets,"[226894344, 226755849, 226967145, 226807551, 2..."
...,...,...
808440,great potential,"[227171512, 227359007, 228392861, 228820100, 2..."
809053,major interstates,"[227154427, 226931146, 227598976, 229566962, 2..."
812573,great investment property,"[226801678, 226766720, 227620770, 227835706, 2..."
822110,needs tlc,"[10193559, 228298342, 231697221, 233081549, 23..."
825132,right redemption,"[226766720, 43307986, 175819212, 187496529, 18..."

In [48]:
noun_sentence_df_T_ri_filtered_thu_list = explode(noun_sentence_df_T_ri_filtered_thu,
                                           lst_cols=['Listingid_List'])

In [49]:
noun_sentence_df_T_ri_filtered_thu_list

            noun_sentence  Listingid_List
0           new bathrooms       226771172
1           new bathrooms       226894344
2           new bathrooms       226798752
3           new bathrooms       226705586
4           new bathrooms       226773117
...                   ...             ...
1128967  right redemption        10173537
1128968  right redemption        83277261
1128969  right redemption        10176800
1128970  right redemption        10303984
1128971  right redemption        10171719

[1128972 rows x 2 columns]